body{
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

#etchContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.etchDiv {
  background-color: red;
  width: 250px;
  height: 250px;
}